<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Taskly</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>Taskly</h1>
    <hr>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

    <script>
    setInterval(async () => {
      try {
        console.log("Checking for overdue tasks...");

        const res = await fetch('/api/check-updates');
        const data = await res.json();

        if (data.updated) {
          document.getElementById('refresh-banner').style.display = 'block';
        }
      } catch (e) {
        console.error("Update check failed:", e);
      }
    }, 60000); // 5 minutes
  </script>

</body>
</html>
